/* jjmenu styles */
div.jjmenu {
	position:absolute;
	background:black;
	border:2px solid gray;
	padding:1px;
}

div.jj_menu_item {
	color:white;
	border:1px solid gray;
	border-bottom:none;
	cursor:pointer;
}

div.jj_menu_item span {
	display:block;
	padding:4px;
}

div.jj_menu_item_more span {
/*	background:url(more.gif)  right no-repeat;	*/
}
div.jj_menu_item_more span {
	padding-right:20px;
}

div.jj_menu_item_hover {
	background:darkblue;
}

